Repository ArkEcosystem/exchange-json-rpc, pull requests merged in 2019-09, with the labels that each got.

#34 ci: setup github action workflow for testing
  .circleci/config.yml
  .github/workflows/test.yml
Labels: Complexity: Medium

#35 ci: trigger workflows for push.* and pull_request.* events
  .github/workflows/test.yml
Labels: Complexity: Low

#33 fix: load seeds either via node or github
  .github/workflows/test.yml
  packages/cli/src/commands/command.ts
  packages/rpc/__tests__/__support__/index.ts
  packages/rpc/src/server/index.ts
  packages/rpc/src/services/network.ts
Labels: Complexity: Low, Status: Needs Review, Type: Bugfix

#37 ci: more descriptive job names
  .github/workflows/test.yml
Labels: Complexity: Low

#38 fix: pass peer port
  packages/rpc/src/services/network.ts
Labels: Complexity: Low, Type: Bugfix
